extends layout

block content
  include author
  each article in articles
    if !article.metadata.link
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) далее
    else
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.metadata.link)= article.title
block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Назад
    else
      a(href='/archive.html') « Архив
    if nextPage
      a(href=nextPage.url) Следующая страница »
  .twitter
    .twitter-wrapper
      a(class="twitter-timeline", href="https://twitter.com/is_ruslan", data-lang="ru", data-limit="1", data-widget-id="506163152916975618") Твиты пользователя @is_ruslan
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  .intagram
    span.title Инстаграм
    #instagram-wrapper







